<div class="container">
    <h2 class="mt-4">Cuenta</h2>
    <hr class="section-divider"/>
    <div class="row">
        <div class="col-md-4 col-sm-12 mb-2">
            <h4 class="capitalized text-gray mr-1">
                Membresía y facturación
            </h4>
            <button [routerLink]="['/cancel-membership']" class="btn btn-outline-secondary cancel-membership">
                Cancelar membresía
            </button>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="text-left">
                        <p class="font-weight-bold">
                            {{license?.userInfo.email}}
                        </p>
                        <p class="text-gray">
                            <span>Contraseña: </span> ••••••••
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="text-right">
                        <p>
                            <a [routerLink]="['/change-password']" class="menu-right">Cambiar contraseña</a>
                        </p>
                        <p>
                            <a [routerLink]="['/change-email-account']" class="menu-right">Cambiar dirección email</a>
                        </p>
                    </div>
                </div>
            </div>
            <hr class="section-divider"/>
            <div class="row">
                <div class="col-md-6 col-sm-12 mb-2">
                    <div class="text-left">
                        <i class="payment glowing-border"
                           [ngClass]="defaultPaymentMethod?.icon != null ? defaultPaymentMethod?.icon : 'payment-visa'">
                        </i>
                        <span class="ml-1">•••• •••• •••• <strong>{{defaultPaymentMethod?.lastDigits}}</strong></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="text-right">
                        <p><a [routerLink]="" (click)="paymentMethod()" class="menu-right">Actualizar información de pago</a></p>
                        <p><a [routerLink]="" (click)="billingInformation()" class="menu-right">Información de facturación</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="section-divider"/>
    <div class="row">
        <div class="col-md-4 col-sm-12 mb-2">
            <h4 class="capitalized text-gray mr-1">
                Información del plan
            </h4>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="text-left">
                        <p class="font-weight-bold">
                            {{license?.licenseProductInfo.name}} {{ license? ' - ' : '' }} {{license?.expiration | date: 'dd/MM/yyyy' }}
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="text-right">
                        <p>
                            <a [routerLink]="['/change-membership']" class="menu-right">Cambiar plan</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="section-divider"/>
    <div class="row">
        <div class="col-md-4 col-sm-12 mb-2">
            <h4 class="capitalized text-gray mr-1">
                Licencias adicionales
            </h4>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="text-left">
                        <p>
                            <a [routerLink]="['/user-licenses-manager']" class="menu-right">Administrar usuarios y licencias</a>
                        </p>
                        <p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="section-divider"/>
    <div class="row">
        <div class="col-md-4 col-sm-12 mb-2">
            <h4 class="capitalized text-gray mr-1">
                Ventas
            </h4>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="text-left">
                        <p>
                            <a [routerLink]="['/invitation']" class="menu-right">Invitar a alguien</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner name="accountSpinner" [fullScreen]="false" type="square-jelly-box" size="large">
    <p style="font-size: 20px; color: white">Espere...</p>
</ngx-spinner>
