
.capitalized {
    text-transform: uppercase;
    font-size: 1.0em;
}

.section-divider {
    margin-top: 0;
    margin-bottom: 0.8rem;
}

button.cancel-membership {
    width: 155px;
}

.menu-right {
    font-weight: 500;
}


@media only screen and (min-width: 500px) {
    .account-section-link {
        color: #0080FF;
        display: inline;
        padding-right: 0;
        border-top: none;
        padding-top: 5px;
    }
}
