<form #paymentMethodForm="ngForm" class="container pt-4">
    <div class="row">
        <div class="col mx-auto" style="max-width: 30rem;">

            <div class="nf-message-container nf-message-warn"
                 [hidden]="!submitted || exception?.message == undefined">

                <div class="nf-message-icon">
                    <i class="fas fa-exclamation-triangle mr-2"></i>
                </div>
                <div class="nf-message-contents">
                    <span>
                        {{
                            exception?.message ||
                            'There appears to be a problem with the payment method you are trying to use.'
                        }}
                    </span>
                </div>
            </div>
            <div class="text-left">
                <h3 class="mt-2">
                    Nuevo método de pago
                </h3>
                <h5 class="mt-4 mb-5 text-gray">
                    Establece tu tarjeta de crédito o débito
                </h5>
                <div class="d-flex bd-highlight">
                    <div class="pr-1 pb-2 bd-highlight">
                        <i class="payment payment-visa" [class.glowing-border]="cardBrand === 'visa'"></i>
                    </div>
                    <div class="pr-1 pb-2 bd-highlight">
                        <i class="payment payment-mastercard" [class.glowing-border]="cardBrand === 'mastercard'"></i>
                    </div>
                    <div class="pb-2 bd-highlight">
                        <i class="payment payment-americanexpress" [class.glowing-border]="cardBrand === 'americanexpress'"></i>
                    </div>
                    <div class="ml-auto pb-2 bd-highlight">
                        <label class="custom-switch float-right">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                   (change)="switchDefaultMethod()">
                            <span class="pr-2 custom-switch-description">Default</span>
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-user" style="min-width: 20px;"></i>
                        </span>
                    </div>
                    <input required id="firstName" name="firstName"
                           type="text" class="form-control" placeholder="First Name"
                           minlength="2" maxlength="50"
                           #firstName="ngModel"
                           [class.is-invalid]="firstName.errors && (firstName.dirty || firstName.touched)"
                           [(ngModel)]="paymentMethod.firstName">
                    <div class="invalid-feedback"
                         *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                        <div *ngIf="firstName.errors?.required">
                            First name is required
                        </div>
                        <div *ngIf="firstName.errors?.minlength">
                            Introduce valid first name
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-user" style="min-width: 20px;"></i>
                        </span>
                    </div>
                    <input required id="lastName" name="lastName"
                           type="text" class="form-control" placeholder="Last Name"
                           minlength="2" maxlength="50"
                           #lastName="ngModel"
                           [class.is-invalid]="lastName.errors && (lastName.dirty || lastName.touched)"
                           [(ngModel)]="paymentMethod.lastName">
                    <div class="invalid-feedback"
                         *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                        <div *ngIf="lastName.errors?.required">
                            Last name is required
                        </div>
                        <div *ngIf="lastName.errors?.minlength">
                            Introduce valid last name
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-credit-card" style="min-width: 20px;"></i>
                        </span>
                    </div>
                    <input required ccNumber
                           id="cardNumber" name="cardNumber"
                           autocomplete="cardNumber"
                           type="tel" class="form-control" placeholder="Card Number"
                           #cardNumber="ngModel"
                           (ngModelChange)="checkCardBrand()"
                           [class.is-invalid]="cardNumber.errors && (cardNumber.dirty || cardNumber.touched)"
                           [(ngModel)]="paymentMethod.cardNumber">
                    <div class="invalid-feedback"
                         *ngIf="cardNumber.errors && (cardNumber.dirty || cardNumber.touched)">
                        <div *ngIf="cardNumber.errors?.required">
                            Card number is required
                        </div>
                        <div *ngIf="cardNumber.errors?.minlength">
                            Introduce valid card number
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-calendar" style="min-width: 20px;"></i>
                        </span>
                    </div>
                    <input required ccExp
                           id="expirationDate" name="expirationDate"
                           type="tel" class="form-control" placeholder="Expiration date (MM/YY)"
                           autocomplete="cc-exp"
                           #expirationDate="ngModel"
                           [class.is-invalid]="expirationDate.errors && (expirationDate.dirty || expirationDate.touched)"
                           [(ngModel)]="paymentMethod.expirationDate">
                    <div class="invalid-feedback"
                         *ngIf="expirationDate.errors && (expirationDate.dirty || expirationDate.touched)">
                        <div *ngIf="expirationDate.errors?.required">
                            Expiration date is required
                        </div>
                        <div *ngIf="expirationDate.errors?.pattern">
                            Introduce valid expiration date
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock" style="min-width: 20px;"></i>
                        </span>
                    </div>
                    <input required ccCVC
                           id="securityCode" name="securityCode"
                           type="tel" class="form-control" placeholder="Security code (CVV)"
                           autocomplete="off"
                           #securityCode="ngModel"
                           [class.is-invalid]="securityCode.errors && (securityCode.dirty || securityCode.touched)"
                           [(ngModel)]="paymentMethod.securityCode">
                    <div class="invalid-feedback"
                         *ngIf="securityCode.errors && (securityCode.dirty || securityCode.touched)">
                        <div *ngIf="securityCode.errors?.required">
                            Security code is required
                        </div>
                        <div *ngIf="securityCode.errors?.minlength">
                            Introduce valid security code
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-0">
                <button class="btn btn-dark btn-block"
                        [class.btn-loading]="loading"
                        [disabled]="paymentMethodForm.invalid || loading"
                        (click)="submit()">
                    FINALIZAR
                </button>
            </div>
        </div>
    </div>
</form>
