<form #activateUserForm="ngForm" class="container pt-3">
    <div class="container">
        <div class="row">
            <div class="col mx-auto mt-2" style="max-width: 24rem;">
                <div class="nf-message-container nf-message-warn" [hidden]="true">
                    <div class="nf-message-icon">
                        <i class="fas fa-exclamation-triangle mr-2"></i>
                    </div>
                    <div class="nf-message-contents">
                    <span>
                        El usuario con email arturh.sw@gmail.com ya existe
                    </span>
                    </div>
                </div>
                <div *ngIf="loading" class="text- text-center mt-6 mb-2">
                    <h1 style="font-size: 2rem;">
                        Cargando...
                    </h1>
                    <hr class="mt-0 mb-4">
                    <h4 style="font-size: 1.5rem;">
                        Obteniendo información...
                    </h4>
                </div>
                <div [style.display]="!alreadyActivated ? 'none' : 'block'"
                     class="text- text-center mt-6 mb-2">
                    <div *ngIf="!loading">
                        <h1 style="font-size: 2rem;">
                            <u>Cuenta activada</u>
                        </h1>
                        <hr class="mt-0 mb-4">
                        <h4 style="font-size: 1.5rem;">
                            Su cuenta ha sido activada previamente.
                        </h4>
                    </div>
                </div>
                <div [style.display]="alreadyActivated ? 'none' : 'block'">
                    <ng-template #activatedBlockHeader>
                        <div class="text-left mb-5">
                            <h2>Usuario activado</h2>
                        </div>
                    </ng-template>
                    <div class="text-left mb-5" *ngIf="!activated; else activatedBlockHeader">
                        <h2>Activa tu cuenta</h2>
                        <h5>Introduce la siguiente información:</h5>
                    </div>
                    <pre [hidden]="true">{{ accountInfo | json }}</pre>
                    <pre [hidden]="true">{{ selectedCountry | json }}</pre>
                    <!-- Email -->
                    <div class="form-group">
                        <label for="email" class="form-label">Correo electrónico
                            <span *ngIf="email.invalid" class="form-required">*</span>
                        </label>
                        <input required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
                               [disabled]="true"
                               minlength="5" maxlength="50"
                               id="email" name="email"
                               type="email" class="form-control"
                               #email="ngModel"
                               [class.is-invalid]="email.errors && (email.dirty || email.touched)"
                               [(ngModel)]="accountInfo.email">
                        <div class="invalid-feedback"
                             *ngIf="email.errors && (email.dirty || email.touched)">
                            <div *ngIf="email.errors.required">
                                El correo electrónico es requerido
                            </div>
                            <div *ngIf="email.errors?.pattern">
                                Por favor introduce un correo electrónico válido
                            </div>
                            <div *ngIf="email.errors.minlength">
                                El email debe contener entre 5 y 50 caracteres
                            </div>
                        </div>
                    </div>
                    <!-- Nombre completo -->
                    <div class="form-group">
                        <label for="fullName" class="form-label">Nombre completo
                            <span *ngIf="fullName.invalid" class="form-required">*</span>
                        </label>
                        <input required id="fullName" name="fullName"
                               type="text" class="form-control"
                               [disabled]="activated"
                               #fullName="ngModel"
                               [class.is-invalid]="fullName.errors && (fullName.dirty || fullName.touched)"
                               [(ngModel)]="accountInfo.fullName">
                        <div class="invalid-feedback"
                             *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
                            El nombre es requerido
                        </div>
                    </div>
                    <!-- Fecha de nacimiento -->
                    <div class="form-group">
                        <label class="form-label">Fecha de nacimiento
                            <span *ngIf="!isBirthDayValid()" class="form-required">*</span>
                        </label>
                        <div class="row gutters-xs">
                            <div class="col-3">
                                <select class="form-control custom-select"
                                        name="day" #day
                                        [disabled]="activated"
                                        [(ngModel)]="accountInfo.birthday.day"
                                        (change)="checkFullAge()">
                                    <option value="empty" selected disabled>Día</option>
                                    <option *ngFor="let dayNumber of selectedMonth.dayList"
                                            [value]="dayNumber">
                                        {{dayNumber}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-5">
                                <select class="form-control custom-select"
                                        name="month" #month
                                        [disabled]="activated"
                                        (change)="changeMonth(month)"
                                        [(ngModel)]="accountInfo.birthday.month">
                                    <option value="empty" selected disabled>Mes</option>
                                    <option *ngFor="let month of dateDate.months"
                                            [value]="month.identifier">
                                        {{month.name | titlecase}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-control custom-select"
                                        name="year"
                                        [disabled]="activated"
                                        [(ngModel)]="accountInfo.birthday.year"
                                        (change)="checkFullAge()">
                                    <option value="empty" selected disabled>Año</option>
                                    <option *ngFor="let year of dateDate.years"
                                            [value]="year">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                            <div class="invalid-feedback ml-1"
                                 style="display: block;"
                                 *ngIf="accountInfo.birthday.isValid(false) && !accountInfo.birthday.fullAge">
                                <strong>No cumple con la mayoría de edad</strong>
                            </div>
                        </div>
                    </div>
                    <!-- Celular -->
                    <div class="form-group">
                        <label class="form-label">Celular <span class="text-muted">(opcional)</span></label>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <i [className]="'mr-1 flag flag-' + selectedCountry.alpha2" style="width: 2rem;height: 1.5rem; margin-top: 0.37rem !important;"></i>
                                    <select class="form-control custom-select country-codes pr-1 pl-1" style="width: 65px; font-weight: bold; font-size: 0.93rem"
                                            id="countryCode" name="countryCode"
                                            #countryCode="ngModel"
                                            [disabled]="activated"
                                            (click)="countryCodeSelectClicked()"
                                            (change)="countryCodeSelected()"
                                            [class.is-invalid]="countryCode.errors && (countryCode.dirty || countryCode.touched)"
                                            [(ngModel)]="selectedCountry">
                                        <option *ngFor="let countryData of countryDataList"
                                                [ngValue]="countryData">
                                            {{ countryData.description }}
                                        </option>
                                    </select>
                                </div>
                                <input type="tel"
                                       name="cellphone"
                                       maxlength="10"
                                       #cellphone="ngModel"
                                       [disabled]="activated"
                                       [(ngModel)]="accountInfo.cellphone.phone"
                                       [class.is-invalid]="cellphone.errors && (cellphone.dirty || cellphone.touched)"
                                       class="form-control"
                                       placeholder="Introduce tu número de celular">
                            </div>
                        </div>
                    </div>
                    <!-- Género -->
                    <div class="form-group">
                        <label for="genderReference" class="form-label">Género
                            <span *ngIf="genderReference.invalid" class="form-required">*</span>
                        </label>
                        <select class="form-control custom-select"
                                id="genderReference" name="genderReference"
                                #genderReference="ngModel"
                                [disabled]="activated"
                                [class.is-invalid]="genderReference.errors && (genderReference.dirty || genderReference.touched)"
                                [(ngModel)]="accountInfo.genderReferenceId">
                            <option value="empty" selected [disabled]="true">Género</option>
                            <option *ngFor="let genderReference of genderReferences"
                                    [ngValue]="genderReference.identifier">
                                {{ genderReference.description }}
                            </option>
                        </select>
                        <div class="invalid-feedback"
                             *ngIf="genderReference.errors && (genderReference.dirty || genderReference.touched)">
                            <div *ngIf="genderReference.errors">
                                {{ genderReference.errors | json }}
                            </div>
                        </div>
                    </div>
                    <!-- Contraseña -->
                    <div class="form-group">
                        <label for="password" class="form-label">Contraseña
                            <span *ngIf="password.invalid" class="form-required">*</span>
                            <span>
                        <i class="fa fa-question-circle ml-1" aria-hidden="true"
                           style="opacity: 0.85"
                           placement="right-top"
                           ngbTooltip="El password debe de contener al menos 8 caracteres">
                        </i>
                    </span>
                        </label>
                        <div class="input-group">
                            <input required id="password" name="password"
                                   maxlength="20"
                                   pattern="^.{8,20}$"
                                   #password="ngModel"
                                   [disabled]="activated"
                                   [class.is-invalid]="password.errors && (password.dirty || password.touched)"
                                   [(ngModel)]="accountInfo.password"
                                   type="password" class="form-control">
                            <span class="input-group-append">
                        <span class="input-group-text" (click)="showPassword(password, passwordIcon)">
                            <i #passwordIcon class="fa fa-eye-slash" aria-hidden="true" style="font-size: 0.95em;"></i>
                        </span>
                    </span>
                        </div>
                        <div class="invalid-feedback"
                             *ngIf="password.errors && (password.dirty || password.touched)">
                            <div *ngIf="password.errors">
                                El password debe de contener de 8 a 20 caracteres
                            </div>
                        </div>
                    </div>
                    <!-- Repetir contraseña -->
                    <div class="form-group">
                        <label for="password" class="form-label">Repetir contraseña
                            <span *ngIf="password.invalid" class="form-required">*</span>
                        </label>
                        <div class="input-group">
                            <input required id="repeatPassword" name="repeatPassword"
                                   maxlength="20"
                                   pattern="^.{8,20}$"
                                   [disabled]="(password.untouched && password.invalid) || activated"
                                   #repeatPassword="ngModel"
                                   [class.is-invalid]="(password.value != repeatPassword.value) && (repeatPassword.dirty || repeatPassword.touched)"
                                   type="password" class="form-control"
                                   [(ngModel)]="accountInfo.repeatPassword">
                            <span class="input-group-append">
                        <span class="input-group-text" (click)="showPassword(repeatPassword, repeatPasswordIcon)">
                            <i #repeatPasswordIcon class="fa fa-eye-slash" aria-hidden="true" style="font-size: 0.95em;"></i>
                        </span>
                    </span>
                            <div class="invalid-feedback" *ngIf="password.value != repeatPassword.value">
                                Las contraseñas no coinciden
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-6 mb-4">
                        <button class="btn btn-dark btn-block"
                                [disabled]="(!activateUserForm.valid ||
                                    password.value != repeatPassword.value ||
                                    genderReference.value == undefined ||
                                    !isBirthDayValid()) || activated"
                                (click)="submit()">
                            Activar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<ng-template #downloadModal let-modal>
    <div class="modal-body">
        <div id="newsspec-19854-app" class="news-app-promo">
            <div class="news-app-promo-text text-center">
                <div class="news-app-promo-text__tagline">
                    <span style="font-size: 20px;">Usuario activado correctamente</span>
                </div><br>
                <div class="news-app-promo-text__download">Descarga <br/>Q-Bits Chat!</div>
            </div>
            <div class="news-app-promo__section">
                <div class="news-app-promo-subsection">
                    <a class="news-app-promo-subsection--link news-app-promo-subsection--playstore"
                       href="https://play.google.com/store/apps/details?id=com.qbits.messenger"
                       target="_blank">
                        <img class="news-app-promo__play-store"
                             src="//news.files.bbci.co.uk/include/newsspec/19854/assets/app-project-assets/google_play_store.svg"
                             width="161"
                             height="auto"
                             alt="android app icon"/>
                    </a>
                    <a class="news-app-promo-subsection--link news-app-promo-subsection--appstore"
                       href="https://apps.apple.com/mx/app/q-bits-chat/id1289394049"
                       target="_blank">
                        <img class="news-app-promo__app-store"
                             src="//news.files.bbci.co.uk/include/newsspec/19854/assets/app-project-assets/ios_app_store.svg"
                             width="161"
                             height="auto"
                             alt="ios app icon"/>
                    </a>
                </div>
            </div>
            <div class="news-app-promo__section">
            </div>
        </div>
    </div>
</ng-template>

<ngx-spinner name="userActivationSpinner" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
    <p style="font-size: 20px; color: white">{{spinnerText}}</p>
</ngx-spinner>
