
<div class="container mt-4">
    
    <div class="col-lg-8 offset-lg-2">
        <h2 class="mb-3">Cambio de plan</h2>
        <div class="card">
            <div class="card-status bg-blue"></div>
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="text-gray-dark mb-2"><strong>Tu plan actual:</strong></p>
                        <img [src]="license.licenseProductInfo.iconUrl"
                             class="icon pull-left mr-2 mt-2" alt="icon url"/>
                        <p class="p-0 mb-1">
                            <strong>{{license.licenseProductInfo.name}}</strong>
                            por {{license.licenseProductInfo?.calculatedCostStr | currency}}/{{license.duration?.description.toLowerCase()}}
                        </p>
                        <p class="p-0 m-0 text-gray-dark small">
                            <strong>{{license.licenseProductInfo.description}}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-status bg-green"></div>
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="text-gray-dark mb-2"><strong>Tu nuevo plan:</strong></p>
                        <img [src]="licenseProduct.iconUrl"
                             class="icon pull-left mr-2 mt-2" alt="icon url"/>
                        <p class="p-0 mb-1">
                            <strong>{{licenseProduct.name}}</strong>
                            por {{licenseProduct?.calculatedCostStr | currency}}/mensual
                        </p>
                        <p class="p-0 m-0 text-gray-dark small">
                            <strong>{{licenseProduct.description}}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-0">
            <button class="btn btn-dark btn-block"
                    (click)="showConfirmation()">
                Continuar
            </button>
            <button class="btn btn-secondary btn-block text-capitalize"
                    (click)="goBack()">
                Regresar
            </button>
        </div>
    </div>
</div>

<ng-template #confirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Cambio de plan de Q-Bits Chat</h4>
    </div>
    <div class="modal-body">
        <div class="card mb-0">
            <div class="card-status bg-blue"></div>
            <div class="card-body p-1">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="text-gray-dark mb-0"><strong>Plan actual:</strong></p>
                        <p class="p-0">
                            <strong>{{license.licenseProductInfo.name}}</strong>
                            por {{license.licenseProductInfo?.calculatedCostStr | currency}}/{{license.duration?.description.toLowerCase()}}
                        </p>
                        <p class="p-0 m-0 text-gray-dark small">
                            <strong>{{license.licenseProductInfo.description}}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-0">
            <div class="card-status bg-green"></div>
            <div class="card-body p-1">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="text-gray-dark mb-0"><strong>Nuevo plan:</strong></p>
                        <p class="p-0">
                            <strong>{{licenseProduct.name}}</strong>
                            por {{licenseProduct?.calculatedCostStr | currency}}/mensual
                        </p>
                        <p class="p-0 m-0 text-gray-dark small">
                            <strong>{{licenseProduct.description}}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p class="mt-2 mb-0 ml-1">Desde el <strong>{{ license?.describeExpiration }}</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirm()">Confirmar cambio</button>
        <button type="button" class="btn btn-gray" (click)="cancel()">Cancelar</button>
    </div>
</ng-template>

<ngx-spinner name="membershipConfirmationSpinner" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
    <p style="font-size: 20px; color: white">Espere...</p>
</ngx-spinner>
