/* You can add global styles to this file, and also import other style files */

.toast-top-right-custom {
    top: 20px;
    right: 12px;
}

.modal-backdrop.fade  {
    opacity: 0.5;
}

.modal-open .modal  {
    opacity: 1;
}

.dataTables_empty {
    display: none;
}


@media (min-width: 576px) {
    body {
        zoom: 100%;
    }
}

@media (min-width: 577px) {
    body {
        zoom: 100%;
    }
}
