<div class="card license-product-card">
<!--    <img [src]="licenseProduct.iconUrl" class="icon" alt="icon url"/>-->
<!--    <i class="fas fa-play license-product-movie" (click)="showVideo(content)"></i>-->
    <div class="card-status" [style.background-color]="licenseProduct.color"></div>
    <div class="card-body text-center">
        <div class="card-category">
            <h4>{{ licenseProduct.name }}</h4>
        </div>
        <div class="display-3 my-4">$ {{ (licenseProduct.cost.value * 365 / 12).toFixed(0) }} </div>
        <ul class="list-unstyled leading-loose">
            <li *ngFor="let feature of features">
                <i class="fe mr-2"
                   [class.fe-check]="hasFeature(feature)" [class.text-success]="hasFeature(feature)"
                   [class.fe-x]="!hasFeature(feature)" [class.text-danger]="!hasFeature(feature)"
                   aria-hidden="true"></i>
                {{ feature.description }}
            </li>
        </ul>
        <div class="text-center mt-6">
            <button class="btn btn-dark btn-block"
                    [disabled]="disabled"
                    (click)="submit()">
                Elegir plan
            </button>
        </div>
    </div>
</div>
