.license-product-card .icon {
    position: absolute;
    width: 42px;
    height: 50px;
    top: 15px;
    left: 15px;
    z-index: 1;
}

.license-product-movie {
    cursor: pointer;
    position: absolute;
    font-size: 1.5em;
    color: #43474b;
    top: 80px;
    left: 25px;
    z-index: 2;
}
