<form #paymentMethodForm="ngForm" class="container pt-4">
    <div class="row">
        <div class="col mx-auto" style="max-width: 30rem;">

            <div class="nf-message-container nf-message-warn"
                 [hidden]="true">

                <div class="nf-message-icon">
                    <i class="fas fa-exclamation-triangle mr-2"></i>
                </div>
                <div class="nf-message-contents">
                    <span>
                        {{
                        exception?.message ||
                        'There appears to be a problem with the payment method you are trying to use.'
                        }}
                    </span>
                </div>
            </div>
            <!--Datos de la tarjeta seleccionada-->
            <div class="text-left">
                <h3>Edita tu forma de pago</h3>
                <div class="d-flex flex-row pb-3">
                    <div class="pr-1">
                        <i class="payment"
                           [ngClass]="paymentMethodInfo?.icon != null ? paymentMethodInfo?.icon : 'payment-visa'">
                        </i>
                    </div>
                    <div>
                        <span class="ml-1">•••• •••• •••• <strong>{{paymentMethodInfo?.lastDigits}}</strong></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-calendar" style="min-width: 20px;"></i>
                        </span>
                    </div>
                    <input required ccExp
                           id="expirationDate" name="expirationDate"
                           type="tel" class="form-control" placeholder="Expiration date (MM/YY)"
                           autocomplete="cc-exp"
                           #expirationDate="ngModel"
                           [class.is-invalid]="expirationDate.errors && (expirationDate.dirty || expirationDate.touched)"
                           [(ngModel)]="paymentMethodUpdate.expirationDate">
                    <div class="invalid-feedback"
                         *ngIf="expirationDate.errors && (expirationDate.dirty || expirationDate.touched)">
                        <div *ngIf="expirationDate.errors?.required">
                            Expiration date is required
                        </div>
                        <div *ngIf="expirationDate.errors?.pattern">
                            Introduce valid expiration date
                        </div>
                    </div>
                </div>
            </div>
            <!-- Security Code - CVV -->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock" style="min-width: 20px;"></i>
                        </span>
                    </div>
                    <input required ccCVC
                           id="securityCode" name="securityCode"
                           type="tel" class="form-control" placeholder="Código de seguridad (CVV)"
                           autocomplete="off"
                           #securityCode="ngModel"
                           [class.is-invalid]="securityCode.errors && (securityCode.dirty || securityCode.touched)"
                           [(ngModel)]="paymentMethodUpdate.securityCode">
                    <div class="invalid-feedback"
                         *ngIf="securityCode.errors && (securityCode.dirty || securityCode.touched)">
                        <div *ngIf="securityCode.errors?.required">
                            El cvv es requerido
                        </div>
                        <div *ngIf="securityCode.errors?.minlength">
                            Introduce un cvv válido
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-0">
                <button class="btn btn-dark btn-block"
                        [class.btn-loading]="loading"
                        [disabled]="paymentMethodForm.invalid || loading"
                        (click)="submit()">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</form>
<ngx-spinner name="editPaymentMethodSpinner" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
    <p style="font-size: 20px; color: white">Actualizando forma de pago...</p>
</ngx-spinner>
